<%- include('partials/header') -%>
<body class="body-background">
<main class="container login-page">
    <div class="row justify-content-around mt-3">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
</body>

<%- include('partials/footer') -%>